* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    height: 50px;
    color: white;
}

body {
    color: white;
}

.card{
    /*margin-left: 10%;*/
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 2rem;
    align-items: center;


}

.header {
    color: black;
    text-align: center;
}

.review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
