html{
    background-image: url(../IMG/ralph-ravi-kayden-TozxLU79LXY-unsplash.jpg);
    background-size: cover;
}
.box-img {
    width: 450px;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
    color: white;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    
}
.Categories li {
    list-style-type: none;
}
.Categories li a {
    text-decoration: none;
    color: white;
}