<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="css/layout.css">
    <nav class="navbar">
        <ul>
            <li><a th:href="'/Home'">Home</a></li>
            <li><a href="#">Reviews</a></li>
        </ul>
    </nav>

</head>

<body>
<div class="home-body">


    <nav class="home">
        <h1 class="home-page">Welcome to Harp</h1>
        <p class="home-write">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Harum eligendi iure ducimus ex doloremque eaque ea excepturi repellendus rem modi commodi,
            nihil libero eos incidunt laboriosam nemo est eum perferendis?</p>
        <h2 class="Con-List">Categories</h2>
        <ul class="Categories">
<!--            removed word specialty from anchor tag-->
            <li th:each="category:${categories}"><a th:text="${category.categoryName}" th:href="'/category/' + ${category.id}"></a>
            </li>

        </ul>
    </nav>

</div>
</body>

</html>