<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reviews</title>
    <link rel="stylesheet" type="text/css" href="/css/styleCategories.css">
    <link rel="stylesheet" href="/css/layoutCategories.css">
    <nav class="navbar">
        <ul>
            <li><a th:href="'/Home'">Home</a> </li>
        </ul>
    </nav>
</head>
<body>
<div class="container">
    <div class="header">
        <h2 th:text="${review.storeName}"class="Review">Review</h2>
        <p class="about-review"></p>
        <h3 class="review-header">Reviews</h3>
    </div>
    <div class="card">
        <img class="R-img" th:src="${review.imageUrl}" alt="Avatar" style="width:100%">
        <div class="card-container">
            <h4 th:text="${review.storeName}"></h4>
            <p th:text="${review.content}"></p>
            <p th:text="'Submitted by: ' + ${review.userName}">Submitted by </p>
        </div>
    </div>
    <button type="button" onclick="window.history.go(-1);">Back</button>

</div>
</body>
</html>